@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

@import url('./home.scss');
@import url('./components/footer.scss');;


@import url('./components/navbar.scss');
@import url('./components/testimonial.scss');
@import url('./components/buttons.scss');
@import url('./components/filter-menu.scss');
@import url('./components/location.scss');

body{
    margin: 0px;
    padding: 0px;
    font-family: "Poppins", sans-serif;
}

/* *{outline: 1px solid green;} */

.experiences-header{
    background-color: #016ace;
    margin: 0px;
    padding: 20px;
    display: block;
    text-align: center;
    color: white;
}

.experiences-wrapper{
    display: flex;
    align-items:flex-start;
    justify-content: center;
    /* padding: 20px; */
}

.test{
    margin: 20px;
}